sudo: required

services:
  - docker

env:
  - DOCKERFILE_DIR=clr-sdk
  - DOCKERFILE_DIR=machine-learning
  - DOCKERFILE_DIR=machine-learning-ui
  - DOCKERFILE_DIR=mixer-ci
  - DOCKERFILE_DIR=mariadb

script:
  - cd $DOCKERFILE_DIR
  - docker build -t clearlinux/$DOCKERFILE_DIR .

