sudo: required

services:
  - docker

env:
  - DOCKERFILE_DIR=cgit
  - DOCKERFILE_DIR=clr-installer-ci
  - DOCKERFILE_DIR=clr-sdk
  - DOCKERFILE_DIR=elasticsearch
  - DOCKERFILE_DIR=haproxy
  - DOCKERFILE_DIR=httpd
  - DOCKERFILE_DIR=machine-learning-ui
  - DOCKERFILE_DIR=machine-learning
  - DOCKERFILE_DIR=mariadb
  - DOCKERFILE_DIR=memcached
  - DOCKERFILE_DIR=mixer-ci
  - DOCKERFILE_DIR=nginx
  - DOCKERFILE_DIR=node
  - DOCKERFILE_DIR=php
  - DOCKERFILE_DIR=postgres
  - DOCKERFILE_DIR=python
  - DOCKERFILE_DIR=redis
  - DOCKERFILE_DIR=ruby

script:
  - cd $DOCKERFILE_DIR
  - docker build -t clearlinux/$DOCKERFILE_DIR .
